* {
    margin: 0;
    padding: 0;
  }
  

.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: lightblue;
    height: 100vh;
    width: 100vw;
}

.menu{
    display: grid;
    gap: 5px;
    grid-area: 1/1/4/2;
    background-color: blue;
}

.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: 1/2/1/4;
}

.projects{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    grid-area: 2/2/4/3;
}


.home-list > ul > li{
    color: white;
}

.dashboard-title{
    color: white;
}

.settings-list>ul>li{
    color: white;
}

ul,li{
    list-style: none;
}