* {
    margin: 0;
    padding: 0;
  }
  

.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: lightblue;
    height: 100vh;
    width: 100vw;
}

.menu{
    display: grid;
    gap: 5px;
    grid-area: 1/1/4/2;
    background-color: blue;

}

.search-bar{
    margin: 15px;
}

.home-list{
   align-items: space-around;
}

.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: 1/2/1/4;
}

.projects{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    grid-area: 2/2/4/3;
}


.home-list > ul > li{
    color: white;
    margin-top: 20px;
    font-weight: bold;
}


ul,li{
    list-style: none;
}

.dashboard{
    font-size: 1.5rem;
    margin-bottom: 50px;
}

.communities{
    margin-bottom: 50px;
}